@using WEB_953502_CHIZHIK.Blazor.Client.Models

<h3>BooksList</h3>

@if (Books == null)
{
    <p>Загрузка ...</p>
}
else
{
    <div class="list-group">
        @{
            var i = 1;
            foreach (var book in Books)
            {
                <button type="button" class="list-group-item list-group-item-action @(SelectedId == book.BookId ? "active" : "")" @onclick="@(e => Selected(e, book.BookId))">
                    @(i++) - @book.BookName
                </button>
            }
        }
    </div>
}
@code {
    [Parameter]
    public IEnumerable<ListViewModel> Books { get; set; }
    [Parameter]
    public EventCallback<IEnumerable<ListViewModel>> BooksChanged { get; set; }

    private int SelectedId = 0;
    [Parameter]
    public EventCallback<int> SelectedObjectChanged { get; set; }
    private void Selected(MouseEventArgs e, int id)
    {
        SelectedId = id;
        SelectedObjectChanged.InvokeAsync(id);
    }
}

